﻿.navbar-inverse {
    background-color: rgb(16, 108, 200);
    border-color: #080808;
    color: white;
}

    .navbar-inverse .navbar-brand {
        color: white;
    }


body {
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar-header {
    float: none;
    text-align: center;
}

.logo {
    font-size: 40px;
    line-height: 1;
}

.navbar-brand.text-center {
    float: none;
}

.event-row {
    padding: 3px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

    .event-row:hover {
        box-shadow: 1px 1px;
    }

.login-form {
    display: inline-block;
}

.form-control {
    padding-right: 30px;
}

    .form-control + .fa {
        position: absolute;
        top: 2px;
        right: 0;
        padding: 8px 27px;
    }

.avatar {
    width: 50px;
    height: 50px;
}

footer {
    background-color: rgb(16, 108, 200);
    border-color: #080808;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.indicator:hover {
    text-decoration: none;
}

.search-bar {
    padding-top: 20px;
    padding-bottom: 20px;
}