<div class="container">
  <div ng-repeat="event in events.EventsList" class="col-sm-4 col-sm-offset-4">
    <button ng-click="$parent.gotoEvent(event.Id)">
      <span ng-bind="event.Title"></span>
      <span ng-bind="event.Id"></span>
    </button>
  </div>
</div>
