﻿@using Microsoft.Owin.Security
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>#hashtag</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("#hashtag", "Index", "Event", new { area = "" }, new { @class = "navbar-brand text-center logo" })

                @if (Request.IsAuthenticated && Session["UserName"] != null && string.IsNullOrEmpty(Session["UserName"].ToString()) == false)
                {
                    using (Html.BeginForm("LogOff", "AccountView", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <img src="@Session["UserImageUrl"]" alt="@Session["UserName"]" class="avatar" />
                                @Session["UserName"]
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
                        </ul>
                    }
                }
                else
                {
                    using (Html.BeginForm("ExternalLogin", "AccountView", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form pull-right" }))
                    {
                        @Html.AntiForgeryToken()

                        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

                        <div id="socialLoginList">
                            <p>
                                @foreach (AuthenticationDescription p in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default pull-right" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-facebook-official"></i> @p.AuthenticationType</button>
                                }
                            </p>
                        </div>
                    }
                }
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>
    <footer class="text-center">All rights reserved</footer>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/respond.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $('.my-popover').popover({ placement: 'bottom',  html: true });
    </script>
</body>
</html>
