﻿@using System.Globalization
@model Models.EventEntry

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-offset-1 col-md-10">
    <div id="map" style="height: 150px;"></div>
    <h2>@Model.Title</h2>
    <img src="@Model.Image.Large" width="100%;"/>
    <h4>@Html.Raw(Model.LongDescription)</h4>
    <h5>@Model.StartDate</h5>
</div>

@section scripts {
    <script type="text/javascript">

        var map;
        var mylat = { lat: @Model.Location.Lattiude.ToString(CultureInfo.CreateSpecificCulture("en-GB")), 
            lng: @Model.Location.Longitude.ToString(CultureInfo.CreateSpecificCulture("en-GB")) };
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: mylat,
                zoom: 15
            });

            var marker = new google.maps.Marker({
                position: mylat,
                map: map,
                title: 'Hello World!'
            });
        }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-qxzFhcfCNzmw-DjNoNMTg8kJ2XNNBN4&callback=initMap">
    </script>

}