﻿
@using Models
@model SearchEntryList
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row search-bar">
    @using (Html.BeginForm("Search", "Event", FormMethod.Get, new { @class = "form-inline" }))
    {

        <div class="form-group col-md-offset-4 col-md-5">
            <label class="col-md-2"></label>
            <div class="col-md-8">
                <input class="form-control" type="search" name="Query" placeholder="interesuje mnie" />
                <span class="fa fa-search"></span>
            </div>
        </div>
        <input class="btn btn-primary col-md-1" type="submit" value="szukaj" />
    }
</div>
<div class="row">
    <div class="col-md-3">
        @Html.Action("List", "Category")
    </div>
    <div class="col-md-9">
        @foreach (var entry in Model.EventsList)
            {
            <div class="row event-row">
                <div class="col-md-2"><img src="@entry.Image.Thumbnail" /></div>
                <div class="col-md-8">
                    <a href="@Url.Action("Details", "Event", new { id = entry.Id })">
                        <h3>@entry.Title</h3>
                    </a>
                    <h6>@entry.StartDate</h6>
                    <h6 class="indicator">
                        <i class="glyphicon glyphicon-fire">@entry.TotalCount</i><i class="glyphicon glyphicon-heart my-popover"
                                                                                    @if (entry.FriendsUrl != null && entry.FriendsCount > 0) { <text>
                                                                                    data-trigger="hover"
                                                                                    data-content="@foreach (var friendImage in entry.FriendsUrl)
                                                                                                              {
                                                                                                                  <text>
                                    <img src='@friendImage' />
                                   </text>
                                                                                                              }
                               "
                                                                                            </text>
                                                                                        }>@entry.FriendsCount</i>
                    </h6>
                    <div>
                        @foreach (var o in @entry.Categories)
                        {
                            <span class="badge">@o.alias</span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
